<ul class="flex flex-wrap gap-6">
  <% @user_productions.each do |user_production| %>
    <% production = user_production.production %>

    <li class="p-4 border rounded-lg shadow-sm hover:shadow-md transition w-64">
      <h3 class="text-xl font-semibold text-gray-800 mb-2"><%= production.title %></h3>
      <p class="text-gray-600 mb-4"><%= production.author %></p>
      <% if production.image_url.present? %>
        <img class="w-32 h-auto object-cover rounded" src="<%= production.image_url %>" alt="<%= production.title %>の表紙" />
      <% else %>
        <p class="text-sm text-gray-400">画像がありません</p>
      <% end %>
        <div class="mt-3">
          <%= form_with url: user_production_path(user_production), method: :delete, class: "inline" do %>
          <%= submit_tag "☑ マイリストから削除", class: "text-sm text-red-600 hover:underline" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>