<h1 class="text-3xl font-bold mb-6">映画一覧</h1>
<%= render 'search_form', q: @q %>

<ul class="flex flex-wrap gap-6">
  <% @movies.each do |movie| %>
    <li class="p-4 border rounded-lg shadow-sm hover:shadow-md transition w-64">
    <h3 class="text-xl font-semibold text-gray-800 mb-2"><%= movie.title %></h3>
    <p class="text-gray-600 mb-4"><%= movie.author %></p>
      <% if movie.image_url.present? %>
        <img class="w-32 h-auto object-cover rounded" src="<%= movie.image_url %>" alt="<%= movie.title %>の表紙" />
      <% else %>
        <p class="text-sm text-gray-400" >画像がありません</p>
      <% end %>
    </li>
  <% end %>
</ul>
<%= paginate @movies %>