<h1 class="text-3xl font-bold mb-6">本一覧</h1>
<%= render 'search_form', q: @q %>

<%= form_with url: user_productions_path, method: :post do %>
  <ul class="flex flex-wrap gap-6">
    <% Production.where(category: "book").each do |book| %>
      <li class="p-4 border rounded-lg shadow-sm hover:shadow-md transition w-64">
        <div>
          <%= link_to book.title, "/books/#{book.id}" %>
        </div>
        <p class="text-gray-600 mb-4"><%= book.author %></p>
        <% if book.image_url.present? %>
          <img class="w-32 h-auto object-cover rounded" src="<%= book.image_url %>" alt="<%= book.title %>の表紙" />
        <% else %>
          <p class="text-sm text-gray-400">画像がありません</p>
        <% end %>

        <div class="flex items-center space-x-2 mt-2">
          <%= check_box_tag "production_ids[]", book.id, false, id: "book_#{book.id}" %>
          <%= label_tag "book_#{book.id}", "マイリストに追加" %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="mt-4">
    <%= submit_tag "マイリストに登録", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
  </div>
<% end %>

<%= paginate @books %>