<div class="relative h-screen">
  <div class="flex items-center justify-center h-full">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class="text-3xl font-bold mb-6 text-center">ログイン</h1>

    <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border border-gray-300 rounded px-3 py-2 w-full" %>
    </div>

    <div class="field">
      <%= f.label :パスワード確認 %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "border border-gray-300 rounded px-3 py-2 w-full" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class: "border border-gray-300 rounded px-3 py-2" %>
        <%= f.label :自動ログイン %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン", class: "px-4 py-2 bg-[#7fc9d2] text-white rounded" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
  </div>
</div>